@import "tailwindcss";


@theme {
  --color-primary-blue: #252c36 ; 
  --color-secondary-blue : #3b4a5d ;
  --color-third-blue: #7e94b1 ;
  --color-link-blue: #b5ddf2 ;
  --color-button-blue : #09A7F6;
  --color-button-blue-hover : #48C2FF;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
#b5ddf2
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
